#cara
{
    width: 400px;
    height: 400px;
    background-color: orangered;
    border-radius: 200px;
    display: inline-block;
    position:relative;
    left: 150px;
    top: 150px;



}

#nariz{
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 200px;
    
    position: absolute;
    left: 140px;
    top: 110px;   
    

}
#maquillaje{
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 200px;
    display: inline-block;
    position:fixed;
    left: 260px;
    top: 400px;

}
#ojos{

    width: 80px;
    height: 120px;
    background-color: cornflowerblue;
    border-radius: 200px;
    
    position: absolute;
    left: 70px;
    top: 85px;   

}

#ojos-2{
    width: 80px;
    height: 120px;
    background-color:cornflowerblue;
    border-radius: 200px;
    
    position: absolute;
    left: 250px;
    top: 85px; 


}
#ojos-3{

    width: 50px;
    height: 70px;
    background-color: black;
    border-radius: 200px;
    
    position: absolute;
    left: 90px;
    top: 135px;   

}

#ojos-4{
    width: 50px;
    height: 70px;
    background-color:black;
    border-radius: 200px;
    
    position: absolute;
    left: 260px;
    top: 135px; 


}
#labios{
    width: 130px;
    height: 20px;
    background-color:red;
    border: 200px;
    
    position: absolute;
    left: 40px;
    top: 40px; 

}
#maquillaje-2{

    width: 280px;
    height: 200px;
    background-color:blueviolet;
    border-radius: 200px;
    display: inline-block;
    position:fixed;
    left: 220px;
    top: 350px;

}



#sombrero{
    width: 450px;
    height: 50px;
    background-color:brown;
    border-radius: 200px;
    
    position: fixed;
    left: 130px;
    top: 170px; 

}
#sombrero-2{
    width: 300px;
    height: 100px;
    background-color:brown;
    border: 200px;
    
    position: fixed;
    left: 200px;
    top: 100px;        


}